[Oo]bj/
[Bb]in/

publish/
dist/
*.user
*.userosscache
*.suo

secrets.json

appsettings.local.json

.vs/
*.sln.docstates

*.db
*.db-journal


Thumbs.db
ehthumbs.db
Desktop.ini

.DS_Store
.AppleDouble
.LSOverride

.Trash-*

.idea/