version: '3.8'

services:
  api:
    build: . 
    container_name: backend-api
    ports:
      - "8080:8080" 
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=postgresdb;User Id=postgres;Password=postgrespass
    depends_on:
      - db 

  db:
    image: postgres:latest 
    container_name: postgres-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgrespass
      - POSTGRES_DB=postgresdb
    volumes:
      - postgres-data:/var/lib/postgresql
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin-web
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@domena.pl
      - PGADMIN_DEFAULT_PASSWORD=supersecretpass
      - PGADMIN_SERVER_JSON_FILE=/pgadmin4/servers.json
    ports:
      - "5050:80" 
    volumes:
      - ./servers.json:/pgadmin4/servers.json:ro
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      - db

volumes:
  postgres-data:
  pgadmin-data: 