version: '3.8'

services:
  api:
    build:
      context: .
      target: build
    container_name: backend-api
    ports:
      - "8080:8080"
    environment:
      - DOTNET_USE_POLLING_FILE_WATCHER=true
      - ConnectionStrings__DefaultConnection=Server=db;Database=postgresdb;User Id=postgres;Password=postgrespass
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://*:8080
    depends_on:
      - db
    volumes:
      - .:/src
      - /src/obj
      - /src/bin
    command: >
      bash -c "dotnet dev-certs https --trust;
               dotnet watch run --project /src/MovieReservationSystem.csproj --urls http://*:8080"
    networks:
      - app-network

  db:
    image: postgres:latest
    container_name: postgres-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgrespass
      - POSTGRES_DB=postgresdb
    volumes:
      - postgres-data:/var/lib/postgresql
    ports:
      - "5438:5432"
    networks:
      - app-network 

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin-web
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@domena.pl
      - PGADMIN_DEFAULT_PASSWORD=supersecretpass
      - PGADMIN_SERVER_JSON_FILE=/pgadmin4/servers.json
    ports:
      - "5050:80"
    volumes:
      - ./servers.json:/pgadmin4/servers.json:ro
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      - db
    networks:
      - app-network 

volumes:
  postgres-data:
  pgadmin-data:

networks:
  app-network:
    name: movie-system-network
    driver: bridge